rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {
        match /alerts/{uid} {
            allow read: if request.auth != null && request.auth.uid == uid;
            allow write: if false;
        }

        match /tips/{tipId} {
            allow read: if request.auth != null && (request.auth.uid == resource.data.RecipientId || request.auth.uid == resource.data.SenderId);
            allow write: if false;
        }

        match /users/{uid} {
            allow read: if request.auth != null;
            allow write: if false;
        }

        match /tts/voices {
            allow read: if request.auth != null;
            allow write: if false;
        }

        match /{anything=**} {
            allow read: if false
            allow write: if false;
        }
    }
}