/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    --cp-bg-color: #1f1f1f;
    --cp-input-color: #2d2d2d;
    --cp-button-hover-color: #2d2d2d;
    --cp-border-color: #e55430;
}